.app {
  position: relative;
  width: 100%;
  min-height: 100vh;

  background-image: url("assets/bg_tennis_app_desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;
  overflow-y: scroll;

  /* Firefox */
  scrollbar-width: none;

  /* IE / old Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge */
.app::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .app {
    background-image: url("assets/bg_tennis_app_mobile.png");
    background-attachment: scroll;
  }
}
